/* dimensione immagini:
width: 494px;
height: 713px
*/

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* General */
body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    width: 50%;
    margin: 0 auto;
}
.row{
    font-size: 0%;
    padding: 0px;
    border: 1px solid black;
}
.img-box{
    height: 300px;
    width: calc((100% / 3) - 20px);
    border: 1px solid black;
    display: inline-block;
    margin: 10px;
    margin-bottom: 0%;
    background-color: pink;


}
.text-box{
    height: 50px;
    width: calc((100% / 3) - 20px);
    border: 1px solid black;
    display: inline-block;
    margin: 10px;
    margin-top: 0%;
    background-color: rgb(8, 4, 252);
}
